<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand  badge badge-info" routerLink="">Holy</a>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orphanage">Orphanages</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="spiritualCenter">SpiritualCenters</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/priestCenter" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Priest-Centres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/priestCenter/news">news</a>
            <a class="dropdown-item" routerLink="/priestCenter/photos">photos</a>
            <a class="dropdown-item" routerLink="/priestCenter/videos">feedback</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="aboutUs">About-Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="contactUs">Contact-Us</a>
            </li>
      </ul>
    </div>
  </nav>
  